body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: rgb(28, 124, 124);
    padding: 16px 0;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 16px;
    background-color: rgb(14, 66, 36);
    margin: 0;
}

nav ul li {
    border-right: 1px solid black;
    color: white;
    padding: 16px;
    font-weight: bold;
}

.cols {
    display: flex;
}

.cols div {
    flex: 1;
    height: 150px;
    padding: 8px
}

#col1 {
    background-color: #aaa;
}
#col2 {
    background-color: #bbb;
    flex: 2
}
#col3 {
    background-color: #ccc;
}

footer {
    text-align: center;
    background-color: rgb(14, 66, 36);
    padding: 16px 0;
    color: white;
}


@media only screen and (max-width: 600px) {
    .cols {
        flex-wrap: wrap;
    }

    #col2 {
        order: 3;
        flex-basis: 100%;
    }
}