body{
    background-image: url("../images/recepie/silverware.jpg");
}

.inner-list {
    list-style-type: none;
}

footer {
    float: right;
}

span {
    font-weight: bold;
}

.customer-review {
    background-color: #FFFFA8;
    font-style: italic;
}

ol>li>ul, ul>li {
    list-style-image: url("../images/recepie/pie_bullet.png");
}

.no-bullets {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

h1{
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #a4a400;
}

h1>span{
    background-color: #f0f0f0;
}

#center {
    text-align: center !important;
}